@use '../../../styles/variables.scss' as variables;
@use "sass:color";

.edit-icon-btn {
	background-color: color.scale(variables.$primary-color, $lightness: 5%);
	border: none;
	border-radius: 6px;
	box-shadow: 0px 2px 5px rgba(172, 157, 190, 0.329);
	padding: 10px;
	height: 41px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	img {
	width: 20px;
	height: 20px;
	user-select: none;
	}

	&:hover {
	background-color: variables.$primary-color;
	}

	&:active {
	transform: scale(0.98);
	}
}
