@use "sass:color";
@use "../../../styles/variables.scss";

.dropdown-container {
	display: flex;
	flex-direction: column;
	width: 200px;
	position: relative;
	font-family: Arial, sans-serif;

	label{
		margin-bottom: 0.3rem;
		font-weight: 600;
	}
}

.selected {
	border: none;
	border-radius: 6px;
	background-color: color.scale(variables.$background-gray, $lightness: -2%);
	box-shadow: 0px 2px 5px rgba(172, 157, 190, 0.329);
	font-size: 1rem;
	padding: 10px;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-list {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border: none;
	background-color: color.scale(variables.$background-gray, $lightness: -2%);
	box-shadow: 0px 2px 5px rgba(172, 157, 190, 0.329);
	max-height: 160px; // mostra cerca de 5 itens
	overflow-y: scroll;
	scrollbar-width: none;
	margin: 2px 0 0 0;
	padding: 0;
	list-style: none;
	border-radius: 4px;
	z-index: 1000;

	&::-webkit-scrollbar{
		display: none;
	}
}

.dropdown-list li {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.dropdown-list li.selected {
  background-color: #007bff;
  color: white;
}
