<app-default-form-layout
	[title]="'Cadastro de produto'"
	(submitClicked)="onSubmit()"
>
	<form class="form-wrapper" [formGroup]="form">

		<app-form-input
			labelText="Código de barras"
			type="text"
			formControlName="barCode"
		/>

		<div class="product-name">
			<app-form-input
				labelText="Nome do produto"
				type="text"
				formControlName="name"
			/>
		</div>

		<app-form-input
			labelText="Marca do produto"
			type="text"
			formControlName="brand"
		/>

		<app-form-utility-select
			label="Categorias"
			formControlName="categoryIds"
			[multiple]="true">
		</app-form-utility-select>

		<div class="product-price">
			<app-form-input
				labelText="Preço atual"
				type="text"
				placeholder="0,00"
				formControlName="price"
			/>

			<app-form-utility-button
				src="svg/edit-icon.svg"
			>
			</app-form-utility-button>
		</div>

		<div class="measure-packaging">
			<app-form-utility-select
				label="Unidade de medida"
				[options]="measureUnities"
				formControlName="unitOfMeasure">
			</app-form-utility-select>

			<app-form-utility-select
				label="Tipo do pacote"
				[options]="packagingTypes"
				formControlName="packagingType">
			</app-form-utility-select>

		</div>

		<div class="product-imagem-url">
			<div class="product-image">
				<app-form-input
					labelText="Insira o link ou carregue a imagem"
					type="text"
					formControlName="imgUrl"
					(input)="onImageUrlChange()"
				></app-form-input>

				<input type="file" #fileInput accept="image/*" hidden (change)="onFileSelected($event)" />

				<app-form-utility-button
					src="svg/find-file-icon.svg"
					(click)="fileInput.click()">
				</app-form-utility-button>

				<app-form-utility-button
					class="cancelBtn"
					src="svg/cancel-icon.svg"
					(click)="clearImage()">
				</app-form-utility-button>
			</div>

			<div class="image-preview-card" [ngClass]="{'has-image': previewImage()}">
				<img [src]="previewImage()" />
			</div>
		</div>

	</form>

</app-default-form-layout>
