<app-default-login-layout
	primaryBtnText="Acessar"
	(submit)="submit()"
	[disablePrimaryBtn]="!loginForm.valid"
>
	<form [formGroup]="loginForm">
		<app-primary-input
			formControlName="email"
			inputName="email"
			type="email"
			label="Email"
			placeholder="email@example.com"
			title="Email"
			(input)="onInputChange()">
			<img class="icon-email" draggable="false" src="svg/email-icon.svg" alt="Ícone de email"/>
		</app-primary-input>

		<app-primary-input
			formControlName="password"
			inputName="password"
			type="password"
			label="Senha"
			title="Senha"
			autocomplete="new-password"
			(input)="onInputChange()">
			<img class="icon-password" draggable="false" src="svg/password-icon.svg" alt="Ícone de senha"/>
		</app-primary-input>

		<!-- Mensagem de erro inline com animação -->
		<div class="forgot-password-wrapper">
			<span>Esqueci minha senha</span>
			<div *ngIf="loginError()" class="login-error show">
				{{ loginError() }}
			</div>
		</div>
	</form>
</app-default-login-layout>

<ngx-spinner
    bdColor="rgba(0, 0, 0, 0.6)"
    size="medium"
    color="#4CAF50"
    type="ball-spin-clockwise"
    [fullScreen]="true"
>
    <p style="color: white; font-weight: bold; margin-top: 10px">
        Validando dados, aguarde...
    </p>
</ngx-spinner>

