<nav>
	<div class="nav-wrapper">
		<app-navbar-button
			label="Clientes"
			link="/client"
			src="svg/user-icon.svg">
		</app-navbar-button>
		<app-navbar-button
			label="Nova Venda"
			link="/sale"
			src="svg/shopping-cart-icon.svg">
		</app-navbar-button>
		<app-navbar-button
			label="Produtos"
			link="/product"
			src="svg/product-icon.svg">
		</app-navbar-button>
	</div>

	<h1>Vintor</h1>

	<div class="nav-logout">
		<app-navbar-button
			label="Sair"
			link="/login"
			src="svg/logout-icon.svg">
		</app-navbar-button>
	</div>

</nav>
