.content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	height: auto;
	overflow-y: auto;
	box-sizing: border-box;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}

}
