<div
	class="form-input-wrapper"
	[ngClass]="{ 'grow-one': growone, 'grow-two': growtwo, 'grow-three': growthree, 'grow-four': growfour }">
	<label class="label-text" for="name" *ngIf="type !== 'radio'">{{ labelText }}</label>
	<label class="label-radio" for="name" *ngIf="type === 'radio'">{{ labelRadio }}</label>
	<input
		(change)="type === 'radio' ? onChange($event) : null"
		[checked]="type === 'radio' && control.value === value"
		[formControl]="control"
		[attr.name]="name"
		[ngClass]="{ 'radio-wrapper': type === 'radio' }"
		[placeholder]="placeholder"
		[type]="type"
		[value]="value"/>{{ inputText }}

</div>
