@use '../../../../../styles/variables.scss' as variables;
@use 'sass:color';

.dropdown-item-wrapper{
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;

	a {
		align-items: center;
		background-color: variables.$background-gray;
		border: 1px solid variables.$background-green;
		border-radius: 2px;
		color: variables.$primary-color;
		display: flex;
		flex-direction: column;
		gap: 3px;
		justify-content: center;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		width: 130px;
		white-space: nowrap;

		img{
			height: 22px;
			width: 22px;
		}

		label{
			cursor: pointer;
			font-size: 13px;
			letter-spacing: 0.8px;
		}

		&:hover {
			background-color: color.scale(variables.$background-green, $lightness: 85%);
		}

		&:active{
			border: 1px inset variables.$background-green;
		}
	}

	&:hover{
		text-decoration: underline;
		text-decoration-color: variables.$primary-color;
		text-decoration-thickness: 2px;
		text-underline-offset: 5px;
	}
}
