@use '../../../../styles/variables.scss' as variables;
@use "sass:color";

.new-sale-container {
	width: 1200px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-family: 'Roboto', sans-serif;
	color: variables.$primary-color;

	.client-selector {

		.client-search-wrapper {
			display: flex;
			flex-direction: column;
			position: relative;

			.cancelBtn {
				position: absolute;
				top: 24px;
				left: 410px;
			}
		}

		gap: 8px;
		max-width: 320px;

		label {
			font-size: 1rem;
			color: variables.$primary-color;
		}
	}

	.autocomplete-list {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9999;
		margin-top: 4px;
		border: 1px solid variables.$primary-color;
		max-height: 180px;
		overflow-y: auto;
		background: white;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		width: 25rem;
		padding: 0;

		li {
			list-style: none;
			padding: 8px 12px;
			cursor: pointer;
			font-size: 0.9rem;
			color: variables.$primary-color;

			&:hover {
				background-color: color.scale(variables.$background-green, $lightness: 85%);
				color: variables.$primary-color;
			}
		}
	}

	.table-wrapper {
		display: flex;
		justify-content: space-between;

		.order-items-table {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-top: 20px;
			border-radius: 4px;
			box-shadow: 0 2px 6px rgba(127, 153, 133, 0.25);
			width: 920px;
			height: 100%;

			table {
				width: 100%;
				border-collapse: collapse;

				.input-wrapper {
					position: relative;
					width: 100%;
				}

				th {
					background-color: color.scale(variables.$background-gray, $lightness: -3%);
					color: variables.$primary-color;
					padding: 10px 5px;
					width: 100px;
					font-weight: normal;
					text-align: center;
				}

				td {
					background-color: variables.$background-gray;
					border-bottom: 1px solid variables.$background-gray;
					position: relative;
					padding-left: 10px;
					padding-right: 10px;

					&.subtotal-cell {
						color: color.adjust(variables.$primary-color, $lightness: -5%);
						text-align: center;
						padding: 5px;

					}

					&.actions-cell {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 64.51px;
					}
				}
			}

			.add-btn {
				margin-top: 12px;
				background-color: variables.$primary-color;
				color: white;
				border: none;
				padding: 10px 20px;
				border-radius: 4px;
				cursor: pointer;
				box-shadow: 0px 2px 5px rgba(127, 153, 133, 0.3);
			}

			.add-item-container {
				display: flex;
				justify-content: center;
				margin: 20px;

				.add-item-button {
					display: flex;
					align-items: center;
					gap: 8px;
					background-color: color.scale(variables.$primary-color, $lightness: 5%);
					border: none;
					color: whitesmoke;
					padding: 12px 24px;
					border-radius: 4px;
					font-size: 16px;
					cursor: pointer;
					transition: all 0.2s ease;

					img {
						height: 25px;
						width: 25px;
					}

					&:hover {
						background-color: variables.$primary-color;
					}

					&:active {
						transform: translateY(1px);
					}

					.add-icon {
						font-size: 18px;
					}
				}
			}
		}

		.sidebar {
			display: flex;
			flex-direction: column;

			h3 {
				color: variables.$primary-color;
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 15px;
			}

			.select-wrapper {
				display: flex;
				flex-direction: column;
				gap: 20px;

				app-form-input.totalValue {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					font-size: 24px;

					::ng-deep input {
						text-align: end;
					}
				}
			}
		}
	}
}
