<app-default-form-layout
    [title]="'Nova venda'"
    (submitClicked)="onSubmit()"
>
	<div class="new-sale-container">
		<div class="main-container">
			<div class="client-selector">
				<div class="client-search-wrapper"
					tabindex="0">
						<app-form-input
							labelText="Cliente"
							name="client"
							placeholder="Digite para procurar"
							[(ngModel)]="clientSearchModelValue"
							[disabled]="!!selectedClient()"
							[growfour]="true"
							autocomplete="off"
							(inputEvent)="onClientInput($event)"
							(focusEvent)="focusedInput.set('client')"
							(blurEvent)="onInputBlur()"
						/>

						@if (clientSearchModel() && !selectedClientId() && clientResults().length > 0 && focusedInput() === 'client') {
							<ul class="autocomplete-list">
								@for (client of clientResults(); track client.id) {
									<li (mousedown)="selectClient(client)">
										{{ client.id }} - {{ client.name }}
									</li>
								}
							</ul>
						}

						@if (selectedClientId()) {
							<app-form-utility-button
								class="cancelBtn"
								src="svg/cancel-icon.svg"
								(click)="clearSelectedClient()">
							</app-form-utility-button>
						}
				</div>
			</div>

			<div class="table-wrapper">
				<div #tableContainer class="order-items-table">
					<table>
						<thead>
							<tr>
								<th class="num-item-th">Item</th>
								<th class="product-th">Produto</th>
								<th>Quantidade</th>
								<th class="price-th">Preço Unitário</th>
								<th>Desconto</th>
								<th>Subtotal</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of saleItems(); let i = index">
								<td class="num-item-td">{{ i+1 }}</td>
								<td class="td-form-input">
									<div class="input-wrapper"
										tabindex="0">
										<app-form-input
											[(ngModel)]="productInputs()[i]"
											(inputEvent)="onProductInputChange($event, i)"
											(focusEvent)="onProductFocus(i)"
											(blurEvent)="onInputBlur()"
											placeholder="Digite para procurar"
											[disabled]="saleItems()[i].locked"
											[growfour]="true"
											name="productName{{i}}"
											type="text"
											autocomplete="off"
										/>

										@if (productResults().length > 0 && productSearchIndex() === i && focusedInput() === i) {
											<ul class="autocomplete-list">
												@for (product of productResults(); track $index) {
												<li (mousedown)="selectProduct(i, product)">
													{{ product.name }} - R$ {{ product.price.toFixed(2) }}
												</li>
												}
											</ul>
										}
									</div>
								</td>
								<td>
									<app-form-input
										[(ngModel)]="item.quantity"
										[growtwo]="true"
										(ngModelChange)="updateSubtotal(i)"
									/>
								</td>
								<td class="price-td">
									<app-form-input
										[(ngModel)]="item.price"
										name="unitPrice{{i}}"
										[growtwo]="true"
										(ngModelChange)="updateSubtotal(i)"
										[disabled]="true"
									/>
								</td>
								<td>
									<app-form-input
										[(ngModel)]="item.discount"
										placeholder="0,00"
										[growtwo]="true"
										(ngModelChange)="updateSubtotal(i)"
									></app-form-input>
								</td>
								<td class="subtotal-cell">
									R$ {{ item.subtotal.toFixed(2) }}
								</td>
								<td class="actions-cell">
									<app-form-utility-button
										class="cancelBtn"
										src="svg/cancel-icon.svg"
										(click)="removeItem(i)"
									/>

								</td>
							</tr>
						</tbody>
					</table>

				</div>

					<div class="add-item-container">
						<button
							type="button"
							class="add-item-button"
							(click)="addItem()"
						>
							<img src="svg/add-to-basket-icon.svg" alt="">
							Adicionar item
						</button>
					</div>
			</div>
		</div>

		<div class="sidebar">
			<h3>Pagamento</h3>

			<div class="select-wrapper">
				<app-form-utility-select
					label="Forma de pagamento"
					[options]="paymentMethods"
					[(ngModel)]="paymentMethodValue"
				></app-form-utility-select>

				<app-form-input
					labelText="Quantidade de parcelas"
					matInput
					type="number"
					min="1"
					[value]="installments()"
					(inputEvent)="installments.set($any($event).target?.valueAsNumber ?? installments())"
					[disabled]="paymentMethod() !== 'CREDIT_CARD'">
				</app-form-input>

				<div class="discount-totalValue-wrapper">
					<app-form-input
						labelText="Desconto total"
						[(ngModel)]="totalDiscount"
						name="totalDiscount"
						placeholder="0,00"
						(ngModelChange)="totalDiscount()">
					</app-form-input>

					<app-form-input
						class="totalValue"
						labelText="Valor total"
						[value]="formattedTotal()"
						[disabled]="true">
					</app-form-input>
				</div>

				<div class="amounts-wrapper">
					<div class="amount-field-wrapper" [class.hidden]="paymentMethod() !== 'CASH'">
						<app-form-input
							labelText="Recebido"
							name="cashReceived"
							[(ngModel)]="cashReceived"
							placeholder="0,00"
							[hidden]="paymentMethod() !== 'CASH'"
							>
						</app-form-input>
					</div>

					<div class="amount-field-wrapper" [class.hidden]="paymentMethod() !== 'CASH'">
						<app-form-input
							labelText="Troco"
							[(ngModel)]="calculateChange"
							[hidden]="paymentMethod() !== 'CASH'"
							[disabled]="true">
						</app-form-input>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-default-form-layout>
