<nav>
	<div class="nav-wrapper">

		<div class="button-home">
			<a routerLink="/home"
				class="home-button">
				<img class="icon-email" src="svg/home-icon.svg" alt="Ícone de email"/>
				<label for="">Página inicial</label>
			</a>
		</div>

		<app-navbar-button
			label="Clientes"
			src="svg/client-icon.svg"
			[contentTpl]="dropdownClients"
			[open]="isOpen('clients')"
			(toggle)="toggleDropdown('clients')">
				<ng-template #dropdownClients>
					<app-dropdown-item
						routerLink="/client/new"
						src="svg/add-user-icon.svg"
						label="Cadastrar cliente">
					</app-dropdown-item>
					<app-dropdown-item
						routerLink="/client/find"
						src="svg/search-user-icon.svg"
						label="Pesquisar cliente">
					</app-dropdown-item>
				</ng-template>
		</app-navbar-button>

		<app-navbar-button
			label="Produtos"
			src="svg/product-icon.svg"
			[contentTpl]="dropdownProduct"
			[open]="isOpen('products')"
			(toggle)="toggleDropdown('products')">
				<ng-template #dropdownProduct>
					<app-dropdown-item
						routerLink="/product/new"
						src="svg/product-edit-icon.svg"
						label="Novo produto">
					</app-dropdown-item>
					<app-dropdown-item
						routerLink="/product/find"
						src="svg/product-search-icon.svg"
						label="Pesquisar produto">
					</app-dropdown-item>
				</ng-template>
		</app-navbar-button>

		<app-navbar-button
			label="Vendas"
			src="svg/shopping-cart-icon.svg"
			[contentTpl]="dropdownSales"
			[open]="isOpen('sales')"
			(toggle)="toggleDropdown('sales')">
				<ng-template #dropdownSales>
					<app-dropdown-item
						routerLink="/sale/new"
						src="svg/new-sale-icon.svg"
						label="Nova venda">
					</app-dropdown-item>
				</ng-template>
		</app-navbar-button>

	</div>

	<div class="title-wrapper">
    	<h1>Bean</h1>
		<img src="svg/bear-icon.svg" alt="">
	</div>

	<div class="nav-logout">
		<app-navbar-button
			(click)="logout()"
			label="Sair"
			src="svg/logout-icon.svg">
		</app-navbar-button>
	</div>

</nav>
