@use '../../../styles/variables.scss' as variables;

main{
	section{
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100vh;

	.main-section{
		width: 50%;
		background-color: variables.$background-green;

		h1{
			font-size: 5rem;
			color: variables.$primary-color;
		}
	}

	.form-section{
		width: 50%;
		background-color: variables.$background-gray;
		gap: 2rem;

		h2{
			color: variables.$secondary-color;
		}

		button{
			width: 40%;
			padding: 12px 24px;
			box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
			border-radius: 8px;
			font-size: 16px;
			font-weight: 500;
			border: none;
			background-color: variables.$primary-color;
			color: white;
			cursor: pointer;

			&:disabled{
				opacity: 0.8;
			}
		}
	}
}
