<app-default-form-layout
	title="Cadastro de cliente"
	(submitClicked)="onSubmit()">

	<form class="form-wrapper">
		<app-form-input
			labelText="Nome"
			type="text"
			[growfour]="true"
			[control]="getControl('name')"
		></app-form-input>

		<app-form-input
			labelText="Data de nascimento"
			type="date"
			[control]="getControl('birthDate')"
		></app-form-input>

		<div class="doc-type-wrapper">

			<label for="docType">Tipo do documento</label>
			<div>
				<app-form-input
					[control]="getControl('docType')"
					name="docType"
					type="radio"
					labelRadio="CPF"
					value="cpf"
				></app-form-input>

				<app-form-input
					[control]="getControl('docType')"
					name="docType"
					type="radio"
					labelRadio="RG"
					value="rg"
				></app-form-input>

				<app-form-input
					[control]="getControl('docType')"
					name="docType"
					type="radio"
					labelRadio="CNPJ"
					value="cnpj"
				></app-form-input>
			</div>
		</div>

		<app-form-input
			labelText="Número do documento"
			type="text"
		></app-form-input>

		<app-form-input
			labelText="Email"
			type="text"
			[growthree]="true"
		></app-form-input>

		<div class="phone-wrapper">
			<app-form-input
				labelText="DDD"
				type="text"
				[growone]="true"
			></app-form-input>

			<app-form-input
				labelText="Telefone principal"
				type="text"
			></app-form-input>

		</div>

		<div class="phone-wrapper">
			<app-form-input
				labelText="DDD"
				type="text"
				[growone]="true"
			></app-form-input>

			<app-form-input
				labelText="Celular principal"
				type="text"
			></app-form-input>
		</div>

		<app-form-input
			labelText="CEP"
			type="text"
		></app-form-input>

		<app-form-input
			labelText="Endereço"
			type="text"
			[growfour]="true"
		></app-form-input>

		<app-form-input
			labelText="Número"
			type="text"
			[growone]="true"
		></app-form-input>

		<app-form-input
			labelText="Complemento"
			type="text"
		></app-form-input>

		<app-form-input
			labelText="Bairro"
			type="text"
			[growthree]="true"
		></app-form-input>

		<app-form-input
			labelText="Cidade"
			type="text"
		></app-form-input>

		<app-form-uf-select
			[(model)]="ufSelecionada">
		</app-form-uf-select>
	</form>

</app-default-form-layout>
