<div
	class="form-input-wrapper"
	[class.grow-one]="growone"
	[class.grow-two]="growtwo"
	[class.grow-three]="growthree"
	[class.grow-four]="growfour"
>
	@if (type !== 'radio') {
		<label class="label-text">{{ labelText }}</label>
		<input
			[type]="type"
			[name]="name"
			[placeholder]="placeholder"
			[value]="innerValue"
			(input)="onInputChange($event)"
			(blur)="onTouched()"
			[disabled]="disabled"
		/>
	} @else {
		<label class="label-radio">{{ labelRadio }}</label>
		<input
			type="radio"
			[name]="name"
			[value]="value"
			[checked]="isChecked()"
			(change)="onRadioChange($event)"
			(blur)="onTouched()"
			[disabled]="disabled"
			style="box-shadow: none;"
		/>
	}

	{{ inputText }}
</div>
