<div
  class="form-input-wrapper"
  [class.grow-one]="growone"
  [class.grow-two]="growtwo"
  [class.grow-three]="growthree"
  [class.grow-four]="growfour"
>
  @if (type !== 'radio') {
    <label class="label-text">{{ labelText }}</label>
    <input
      [formControl]="control"
      [name]="name"
      [placeholder]="placeholder"
      [type]="type"
      [value]="value"
      (input)="onChange($event)"
    />
  }

  @if (type === 'radio') {
    <label class="label-radio">{{ labelRadio }}</label>
    <input
      type="radio"
      [name]="name"
      [value]="value"
      [checked]="isChecked()"
      (change)="onRadioChange()"
	  style="box-shadow: none;"
    />
  }

  {{ inputText }}
</div>
