<app-default-form-layout
	[title]="'Cadastro de cliente'"
	(submitClicked)="onSubmit()"
>
	<form class="form-wrapper" [formGroup]="form" autocomplete="off">
		<app-form-input
			label="Nome"
			[width]="400"
			formControlName="name"
		/>

		<app-form-date
			label="Data de nascimento"
			formControlName="birthDate"
		/>

		<div class="doc-type-group">
			<label>Tipo do documento</label>
			<div class="doc-type-wrapper">
				<app-form-radio
					label="CPF"
					name="documentType"
					value="CPF"
					formControlName="documentType"
				/>
				<app-form-radio
					label="CNPJ"
					name="documentType"
					value="CNPJ"
					formControlName="documentType"
				/>
				<app-form-radio
					label="RG"
					name="documentType"
					value="RG"
					formControlName="documentType"
				/>
			</div>
		</div>

		<app-form-input
			label="Número do documento"
			formControlName="documentNumber"
		/>

		<app-form-input
			label="Email"
			[width]="360"
			formControlName="email"
		/>

		<div class="phone-wrapper">
			<app-form-input
				label="DDD"
				[width]="80"
				formControlName="areaCodePhone"
			/>
			<app-form-input
				label="Telefone principal"
				formControlName="mainPhone"
			/>
			<app-form-input
				label="DDD"
				[width]="80"
				formControlName="areaCodeMobile"
			/>
			<app-form-input
				label="Celular principal"
				formControlName="mainMobile"
			/>
		</div>

		<app-form-input
			label="CEP"
			[width]="120"
			formControlName="postalCode"
		/>

		<app-form-input
			label="Endereço"
			[width]="300"
			formControlName="street"
		/>

		<app-form-input
			label="Número"
			[width]="80"
			formControlName="number"
		/>

		<app-form-input
			label="Complemento"
			[width]="360"
			formControlName="complement"
		/>

		<app-form-input
			label="Bairro"
			[width]="280"
			formControlName="neighborhood"
		/>

		<app-form-input
			label="Cidade"
			[width]="280"
			formControlName="city"
		/>

		<app-form-utility-select
			label="UF"
			[options]="ufOptions"
			placeholder="Selecione um estado"
			formControlName="uf"
		/>
	</form>
</app-default-form-layout>
