<section class="container">
	<h1>Bem vindo ao Bean, seu sistema de vendas!</h1>
	<h2>O que deseja fazer?</h2>
	<div class="cash-session-container">
		<button
			type="button"
			class="start-cashsession-button"
			(click)="confirmOpenSession()"
		>
			<img src="svg/cash-register-icon.svg" alt="">
			Iniciar Sessão de Caixa
		</button>

		<button
			type="button"
			class="close-cashsession-button"
		>
			<img src="svg/padlock-unlocked-icon.svg" alt="">
			Finalizar Sessão de Caixa
		</button>
	</div>
</section>
